/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #104690;
    color: #DC1BDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure at least the viewport height */
    overflow-x: visible;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h3 {
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #3D3755;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #3498db;
    border: 20px;
    padding: 1px;
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    text-align: center;
    transition: color 0.3s ease; /* Add smooth color transition */
}

nav a:hover {
    text-decoration: underline;
}

nav a#egg:hover {
    color: red;
    text-decoration: underline;
}

nav a#egg {
    color: #3498db;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    text-align: center;
    transition: color 0.2s ease; /* Add smooth color transition */
}

hr {
    margin: 20px 0;
}

section {
    padding: 20px;
}

div {
    font-size: 30px;
    color: #fff;
}

form#genre {
    width: 50%;
    margin: 20px;
    text-align: left;
    padding: 20px;
    background-color: #EAE9E9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p#genre p {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav a {
        display: block;
        margin-bottom: 10px;
    }
}

a#top {
    color: blue;
    text-align: center;
}