* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: url('dva.gif') no-repeat center center fixed;
    background-size: cover;
    color: #DC1BDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure at least the viewport height */
    overflow-x: visible;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}